<br />
<div class="btn1">
  <button class="btn btn-primary" (click)="addProduct()">Add product</button>
</div>
<br />
<div class="row">
  <div class="card" *ngFor="let product of products" style="width: 30rem">
    <img [src]="product.avatar" class="img-thumbnail" alt="..." />
    <h3>{{ product.name }}</h3>
    <p class="card-text">
      {{ product.description }}
    </p>
    <p class="card-text" *ngIf="product.price < 1500000">
      $ {{ product.price }} (*On Discount)
    </p>
    <p class="card-text" *ngIf="product.price >= 1500000">
      $ {{ product.price }}
    </p>
    <button (click)="editProduct(product.id)" class="btn btn-primary">
      View Detail
    </button>
    <button (click)="removeProduct(product.id)" class="btn btn-outline-success">
      Remove
    </button>
  </div>
</div>
